* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overflow: hidden;
    font-family: 'Major Mono Display', monospace;
}

.experience-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
}

#back-indicator {
    width: 10vw;
    height: 10vh;
    position: absolute;
    top: 10vh;
    left: 90vw;
    z-index: 0;
    opacity: 0;
}
@media (orientation: portrait) {
    #back-indicator {
        top: 5vh;
        left: 85vw;
    }
}
#back-indicator.show {
    z-index: 100;
    opacity: 1;
}
#back-indicator.hide {
    display: none;
}

.view {
    width: 100vw;
    height: 80vh;
    position: absolute;
    top: 10vh;
    left: 0vw;
    z-index: 0;
    background: none;
    opacity: 0;
}
.view.show {
    z-index: 100;
    opacity: 1;
}
.view.hide {
    display: none;
}

.view-text {
    font-size: 1vw;
    color: #68c3c0;
}

#home {
    overflow: hidden;
    pointer-events: none;
}
#home .view-text {
    top: 35%;
    left: 5%;
    width: 55vw;
    z-index: 100;
    position: absolute;
    text-align: left;
}
#home #individual-name {
    text-transform: uppercase;
    font-size: 6vw;
    opacity: 1;
    font-weight: 100;
    position: relative;
}
#home .typed-element {
    font-size: 2vw;
    text-transform: uppercase;
    position: relative;
}
@media (orientation: portrait) {
    #home .view-text {
        top: 20%;
        left: 15%;
        width: 70vw;
        text-align: center;
        font-size: 2vw;
    }
    #home #individual-name {
        font-size: 8vw;
    }
    #home .typed-element {
        font-size: 4vw;
    }
}

#about-me {
    overflow: hidden;
    pointer-events: none;
}
#about-me .view-text {
    top: 15%;
    left: 5%;
    width: 45vw;
    z-index: 100;
    position: absolute;
    text-align: left;
}
#about-me .view-text-header {
    text-transform: uppercase;
    font-size: 5vw;
    font-weight: 100;
    position: relative;
}
#about-me .view-text-subheader {
    font-size: 1.35vw;
    font-weight: bold;
    position: relative;
}
#about-me .view-text-body {
    position: relative;
}
@media (orientation: portrait) {
    #about-me .view-text {
        top: 10%;
        left: 27.5%;
        text-align: center;
        font-size: 1.5vw;
    }
    #about-me .view-text-header {
        left: -12.5%;
        width: 55vw;
        font-size: 6vw;
    }
    #about-me .view-text-subheader {
        font-size: 2.5vw;
    }
}

#work {
    overflow: hidden;
    /* pointer-events: none; */
}
#work .view-text {
    top: 20%;
    left: 10%;
    width: 45vw;
    z-index: 100;
    position: absolute;
    text-align: left;
}
#work .view-text-header {
    text-transform: uppercase;
    font-size: 6vw;
    font-weight: 100;
    position: relative;
}
#work .view-text-subheader {
    font-size: 2vw;
    font-weight: bold;
    position: relative;
}
@media (orientation: portrait) {
    #work .view-text {
        top: 10%;
        left: 15%;
        width: 70vw;
        text-align: center;
    }
    #work .view-text-header {
        font-size: 10vw;
    }
    #work .view-text-subheader {
        font-size: 2.5vw;
    }
}

#work .lottie {
    position: absolute;
    top: 15%;
    left: 50%;
    z-index: 50;
    width: 40vw;
    height: 30vh;
}
@media (orientation: portrait) {
    #work .lottie {
        top: 10%;
        left: 20%;
        width: 60vw;
        height: 40vh;
    }
}
#work .magic-wall {
    position: absolute;
    top: 60%;
    left: 0%;
    width: 100vw;
    height: 25vh;
    z-index: 75;
}
#work .magic-wall .splide__track {
    width: 100%;
    height: 100%;
}
#work .magic-wall .splide__arrows {
    display: none;
    opacity: 0;
    pointer-events: none;
}
#work .magic-wall ul {
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-box;
    flex-wrap: nowrap;
}
#work .magic-wall ul li {
    width: 25%;
    height: 100%;
    position: relative;
    overflow: hidden;
    display: list-item;
}
#work .magic-wall .magic-wall-item {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}
#work .magic-wall img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 110;
}
#work .magic-wall ul li:hover .magic-wall-item {
    transform: scale(1.14);
    -ms-transform: scale(1.14);
    -webkit-transform: scale(1.14);
}
#work .magic-wall ul li a{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

#music {
    overflow: hidden;
    /* pointer-events: none; */
}
#music .view-text {
    top: 20%;
    left: 10%;
    width: 50vw;
    z-index: 100;
    position: absolute;
    text-align: left;
}
#music .view-text-header {
    text-transform: uppercase;
    font-size: 6vw;
    font-weight: 100;
    position: relative;
}
#music .view-text-subheader {
    font-size: 2vw;
    font-weight: bold;
    position: relative;
}
@media (orientation: portrait) {
    #music .view-text {
        top: 10%;
        left: 15%;
        width: 70vw;
        text-align: center;
    }
    #music .view-text-header {
        font-size: 8vw;
    }
    #music .view-text-subheader {
        font-size: 2.5vw;
    }
}

#fitness {
    overflow: hidden;
    pointer-events: none;
}
#fitness .view-text {
    top: 20%;
    left: 10%;
    width: 55vw;
    z-index: 100;
    position: absolute;
    text-align: left;
}
#fitness .view-text-header {
    text-transform: uppercase;
    font-size: 6vw;
    font-weight: 100;
    position: relative;
}
#fitness .view-text-subheader {
    font-size: 2vw;
    font-weight: bold;
    position: relative;
}
@media (orientation: portrait) {
    #fitness .view-text {
        top: 10%;
        left: 15%;
        width: 70vw;
        text-align: center;
    }
    #fitness .view-text-header {
        font-size: 10vw;
    }
    #fitness .view-text-subheader {
        font-size: 2.5vw;
    }
}

#fun {
    overflow: hidden;
    pointer-events: none;
}
#fun .view-text {
    top: 20%;
    left: 10%;
    width: 45vw;
    z-index: 100;
    position: absolute;
    text-align: left;
}
#fun .view-text-header {
    text-transform: uppercase;
    font-size: 7vw;
    font-weight: 100;
    position: relative;
}
#fun .view-text-subheader {
    font-size: 2vw;
    font-weight: bold;
    position: relative;
}
@media (orientation: portrait) {
    #fun .view-text {
        top: 10%;
        left: 15%;
        width: 70vw;
        text-align: center;
    }
    #fun .view-text-header {
        font-size: 10vw;
    }
    #fun .view-text-subheader {
        font-size: 2.5vw;
    }
}

#feedback {
    overflow: hidden;
    pointer-events: none;
}
#feedback .view-text {
    top: 20%;
    left: 10%;
    width: 45vw;
    z-index: 100;
    position: absolute;
    text-align: left;
}
#feedback .view-text-header {
    text-transform: uppercase;
    font-size: 6vw;
    font-weight: 100;
    position: relative;
}
#feedback .view-text-subheader {
    font-size: 2vw;
    font-weight: bold;
    position: relative;
}
@media (orientation: portrait) {
    #feedback .view-text {
        top: 10%;
        left: 15%;
        width: 70vw;
        text-align: center;
    }
    #feedback .view-text-header {
        font-size: 10vw;
    }
    #feedback .view-text-subheader {
        font-size: 3.5vw;
    }
}

#feedback-form {
    top: 40%;
    left: 10%;
    width: 30vw;
    z-index: 100;
    position: absolute;
    text-align: left;
    font-size: 1.5vw;
    color: #68c3c0;
    pointer-events: all;
    border: 1px solid #68c3c0;
    padding: 1vw;
}
@media (orientation: portrait) {
    #feedback-form {
        top: 20%;
        left: 25%;
        width: 50vw;
        text-align: center;
    }
}

#feedback-form .form-group {
    margin-bottom: 1vh;
}

#feedback-form label {
    font-size: 1.5vw;
    font-weight: bold;
}
@media (orientation: portrait) {
    #feedback-form label {
        font-size: 3vw;
    }
}

#feedback-form input {
    height: 2.5vh;
    width: 90%;
    border: 1px solid #00bebe;
    padding: 0px 2%;
    background: transparent;
    color: white;
    
    &:hover {
        border: 1px solid #00dcdc;
    }
    
    &:focus {
        border: 1px solid #00dcdc;
        background: #00dcdc;
        color: #212121;
    }
}
#feedback-form textarea {
    height: 7.5vh;
    width: 90%;
    border: 1px solid #00bebe;
    padding: 0px 2%;
    background: transparent;
    color: white;
    
    &:hover {
        border: 1px solid #00dcdc;
    }
    
    &:focus {
        border: 1px solid #00dcdc;
        background: #00dcdc;
        color: #212121;
    }
}
#feedback-form input::placeholder,
#feedback-form textarea::placeholder {
    font-size: 1vw;
    font-style: italic;
}
@media (orientation: portrait) {
    #feedback-form input::placeholder,
    #feedback-form textarea::placeholder {
        font-size: 2.5vw;
    }
}

#feedback-form button {
    overflow: hidden;
    position: relative;
    height: 4vh;
    width: 40%;
    margin-top: 2%;
    border: 1px solid #00bebe;
    color:white;
    background: rgba(0, 190, 190, .2);
    font-family: 'Major Mono Display', monospace;
    font-size: 1vw;
    
    &:hover {
        border: 1px solid #00dcdc;
        color: #00dcdc;
        background: rgba(0, 220, 220, .3);
    }
}
#feedback-form button:disabled {
    color: black;
}
@media (orientation: portrait) {
    #feedback-form button {
        font-size: 2.5vw;
    }
}

#feedback-form .form-text {
    font-size: 1vw;
    float: right;
    margin-right: 10%;
}
@media (orientation: portrait) {
    #feedback-form .form-text {
        font-size: 2vw;
        margin-right: 5%;
    }
}
#feedback-form .formio-errors .form-text{
    float: none;
}